@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

h1 {
  font-family: "VT323", monospace;
  font-size: 52px;
  font-weight: 700;
  color: #753a1c;
  text-align: center;
}

button {
  margin: 10px 0 0;
}

.container {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
}

.container__main {
  position: absolute;
  top: 30%;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  height: 120px;
}

.container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 950px) {
  .flag {
    max-height: 75px;
    padding-bottom: 10px;
  }

  #flag {
    display: none;
  }

  .card {
    height: 200px !important;
  }

  .card img {
    height: 100px;
  }

  h1 {
    font-size: 32px;
  }

  .container {
    flex-direction: column;
  }
}
